/* Work Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */
.btn-primary {
    border-radius: 4px;
    background: #FF900E;
    padding: 12px 15px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.text-light-grey {
    color: #727272;
}

* {
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}





/* Banner Styles */
.banner-content {
    width: 500px;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.banner-description {
    font-size: 0.8rem;
    font-weight: 400;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}





/* Main Styles */
main {
    max-width: 1333px;
    margin: 50px auto;
}

/* Teams Styles */
.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 12.5rem;
}

.teams-content {
    padding-left: 50px;
    padding-right: 200px;
}

.teams-img-size {
    width: 17rem;
}

.teams-title {
    font-size: 2rem;
}

.teams-title .quick-list {
    font-weight: 500;
}

.teams-title .off-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    font-size: 0.8rem;
    font-weight: 400;
}

/* Features Section Styles */

.features {
    display: flex;
    padding: 40px 160px;
    gap: 100px;
}

.feature-img-size {
    width: 500px;
}

.feature-title {
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
    width: 300px;
}

.features .feature-title {
    border-left: 3px solid rgba(255, 144, 14, 1);
    padding-left: 10px;
}

.feature-description {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.feature-content-title {
    font-size: 15px;
    
}

.feature-content-description {
    font-size: 0.8rem;
    font-weight: 400;
}

.feature-content .cards {
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}


.ten-year-badge {
    border-radius: 4px;
    background: #FF900E;
    text-align: center;
    color: #FFF;
    width: 150px;
    padding: 30px 35px;
    position: relative;
    bottom: 80px;
    right: 70px;
}
.ten-year-badge h1{
    font-size: 2rem;
    margin: 0px;

}


/* Facts Styles */
.facts {
    padding-left: 12.5rem;
}

.facts-title {
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;


}

.facts-description {
    font-size: 0.8rem;
    font-weight: 400;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 200px;
    padding-top: 30px;
}

.facts-card-container .card {
    border-radius: 4px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.facts-card-container .card-title {
    color: #424242;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}





/* Sponsors Style */

.sponsors {
    text-align: center;
}

.section-title {
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 100px;
}

.section-description {
    font-size: 0.8rem;
    font-weight: 400;
}

.sponsors-img-container {
    margin: 0px 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.sponsors-image {
    width: 7rem;
    height: auto;
}


/* Section Styles */
.features {
    display: flex;
    padding: 100px 160px;
}


/* Footer Styles */

footer{
    
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #FFF4E7;
    border-radius: 4px;
    width: 80%;   
    margin: auto;
    margin-bottom: 6.25rem;
    margin-top: 6.25rem;
}

footer p{
    padding: 20px 50px;
}


/* Responsive Media Queries */

/* For Mobile Devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }
    .features{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .feature-img img{
        width: 100%;
    }
    .ten-year-badge{
        position: static;
        max-width: 200px;
    }

    .banner-content {
        width: 337px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .teams-img-size {
        width: 13rem;
    }

    .teams-content,
    .facts,
    .facts-card-container {
        padding-top: 1rem;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        gap: 20px;

    }

    .sponsors-img-container {
        gap: 20px;
        padding-left: 25px;
    }
}

/* For Tablet and Medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 40px;
    }

    nav,
    .features {
        flex-direction: column;
    }

    .banner-content {
        width: 600px;
    }

    .teams-img-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .teams-img-size {
        width: 13rem;
    }

    .teams-content,
    .facts {
        padding-left: 1rem;
        padding-right: 2rem;
        text-align: center;
    }

    .facts-card-container {
        padding-left: 1rem;
        padding-right: 2rem;
        text-align: center;
        gap: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsors-image {
        width: 5rem;
        height: auto;
    }

    .sponsors-img-container {
        gap: 20px;
    }
}